# Age prediction for Gun Violence issues in the United States

In [198]:
import pandas as pd

In [205]:
data = pd.read_csv("gun-violence-data_01-2013_03-2018.csv")

In [206]:
data.fillna(0)
data.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [207]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from plotly.offline  import download_plotlyjs,init_notebook_mode,plot, iplot
import cufflinks as cf

In [208]:
data.shape

(239677, 29)

### DataTypes

In [209]:
data.dtypes

incident_id                      int64
date                            object
state                           object
city_or_county                  object
address                         object
n_killed                         int64
n_injured                        int64
incident_url                    object
source_url                      object
incident_url_fields_missing       bool
congressional_district         float64
gun_stolen                      object
gun_type                        object
incident_characteristics        object
latitude                       float64
location_description            object
longitude                      float64
n_guns_involved                float64
notes                           object
participant_age                 object
participant_age_group           object
participant_gender              object
participant_name                object
participant_relationship        object
participant_status              object
participant_type                object
sources                         object
state_house_district           float64
state_senate_district          float64
dtype: object

In [210]:
for index, row in data.iterrows():
    
    value = data.at[index,'participant_age']
    value = str(value)
    data.at[index,'participant_age'] = value

In [211]:


data['participant_age'] = data['participant_age'].apply(lambda x: x.split('||'))
data['participant_age'] = data['participant_age'].apply(lambda x: [(lambda y: int(y[-2:]) if y[-2:].isdigit() else 10) (y) for y in x])
data['participant_age'] = data['participant_age'].apply(lambda x: sum(x)/len(x))

data.participant_age

0         20.000000
1         20.000000
2         31.200000
3         37.750000
4         31.250000
5         33.500000
6         22.666667
7         10.000000
8         10.000000
9         15.000000
10        19.000000
11        28.000000
12        63.000000
13        10.000000
14        28.600000
15        24.000000
16        20.500000
17        28.750000
18        22.000000
19        22.000000
20        53.500000
21        30.000000
22        34.000000
23        22.800000
24        10.000000
25        28.500000
26        29.000000
27        17.500000
28        35.250000
29        24.750000
            ...
239647    20.000000
239648    10.000000
239649    10.000000
239650    35.000000
239651    10.000000
239652    10.000000
239653    21.000000
239654    28.000000
239655    10.000000
239656    10.000000
239657    55.000000
239658    29.000000
239659    10.000000
239660    21.000000
239661    10.000000
239662    20.000000
239663    27.000000
239664    42.500000
239665    43.500000
239666    10.000000
239667    52.000000
239668    10.000000
239669    10.000000
239670    36.000000
239671    48.000000
239672    25.000000
239673    21.000000
239674    21.000000
239675    42.000000
239676    60.000000
Name: participant_age, Length: 239677, dtype: float64

In [212]:
for i in data.columns:
    if(data[i].dtypes == 'object'):
        print(i)

date
state
city_or_county
address
incident_url
source_url
gun_stolen
gun_type
incident_characteristics
location_description
notes
participant_age_group
participant_gender
participant_name
participant_relationship
participant_status
participant_type
sources

In [213]:
dropcols = ['city_or_county','address','incident_url','source_url','gun_stolen','gun_type','incident_characteristics','notes',
           'participant_age_group','participant_gender','participant_name','participant_status','participant_type',
            'incident_url_fields_missing','sources','participant_relationship']

In [214]:
data.drop(columns=dropcols, axis=1,inplace =True)
data.dtypes

incident_id                 int64
date                       object
state                      object
n_killed                    int64
n_injured                   int64
congressional_district    float64
latitude                  float64
location_description       object
longitude                 float64
n_guns_involved           float64
participant_age           float64
state_house_district      float64
state_senate_district     float64
dtype: object

In [215]:
cols = ['state','location_description']
data[cols]=data[cols].apply(lambda x: pd.factorize(x)[0])

In [216]:
data.head()

,incident_id,date,state,n_killed,n_injured,congressional_district,latitude,location_description,longitude,n_guns_involved,participant_age,state_house_district,state_senate_district
0,461105,2013-01-01,0,0,4,14.0,40.3467,-1,-79.8559,NaN,20.00,NaN,NaN
1,460726,2013-01-01,1,1,3,43.0,33.9090,-1,-118.3330,NaN,20.00,62.0,35.0
2,478855,2013-01-01,2,1,3,9.0,41.4455,0,-82.1377,2.0,31.20,56.0,13.0
3,478925,2013-01-05,3,4,0,6.0,39.6518,-1,-104.8020,NaN,37.75,40.0,28.0
4,478959,2013-01-07,4,2,2,6.0,36.1140,-1,-79.9569,2.0,31.25,62.0,27.0

In [217]:
data.dtypes

incident_id                 int64
date                       object
state                       int64
n_killed                    int64
n_injured                   int64
congressional_district    float64
latitude                  float64
location_description        int64
longitude                 float64
n_guns_involved           float64
participant_age           float64
state_house_district      float64
state_senate_district     float64
dtype: object

In [218]:
import datetime
for index, row in data.iterrows():
    
    value = data.at[index,'date']
    unix_time_stamp = datetime.datetime.strptime(value, "%Y-%m-%d").timestamp()
    data.at[index,'date'] = int(unix_time_stamp)

data.dtypes
#     value = str(value)
#     data.at[index,'participant_age'] = value

incident_id                 int64
date                       object
state                       int64
n_killed                    int64
n_injured                   int64
congressional_district    float64
latitude                  float64
location_description        int64
longitude                 float64
n_guns_involved           float64
participant_age           float64
state_house_district      float64
state_senate_district     float64
dtype: object

In [219]:
data.head()

,incident_id,date,state,n_killed,n_injured,congressional_district,latitude,location_description,longitude,n_guns_involved,participant_age,state_house_district,state_senate_district
0,461105,1357016400,0,0,4,14.0,40.3467,-1,-79.8559,NaN,20.00,NaN,NaN
1,460726,1357016400,1,1,3,43.0,33.9090,-1,-118.3330,NaN,20.00,62.0,35.0
2,478855,1357016400,2,1,3,9.0,41.4455,0,-82.1377,2.0,31.20,56.0,13.0
3,478925,1357362000,3,4,0,6.0,39.6518,-1,-104.8020,NaN,37.75,40.0,28.0
4,478959,1357534800,4,2,2,6.0,36.1140,-1,-79.9569,2.0,31.25,62.0,27.0

In [ ]:
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn import utils

data.fillna(0, inplace=True)

target = data['participant_age']
X= data.loc[:,data.columns != 'participant_age']
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, target, test_size=0.20, random_state=42)



clf = SVC(gamma='scale')



lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y_train)



clf.fit(X_train, y_train)
output = classifier.predict(X_test)

In [ ]:
'''
UPCOMING TENSORFLOW 2.0 Implementation
'''

import tensorflow as tf
tf.__version__
tf.test.is_gpu_available(
    cuda_only=False,
    min_cuda_compute_capability=None
)